$color-accent: #0038FF
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "NaNHolo", sans-serif
$heading-font-family: $body-font-family

$h1-weight: normal
$h2-weight: bold
$h2-size-desktop: px2rem(28)
$body-size-desktop: px2rem(24)
$meta-size-desktop: px2rem(18)
$meta-size: px2rem(16)

$header-border-bottom-width: 0
$header-background: transparent
$header-sticky-background: transparent
$hero-background-color: transparent
$footer-background-color: transparent